body{
    margin: 0px;
    background-color:fuchsia;
}
.header{
    padding: 0px;
    text-align: center;
    position: fixed;
    width: 1280px;
    position: center;
}
/* Style top navigator bar */
ul{
    list-style-type: none;
    list-style: none;
    background: plum;
    padding: 0px 0px;
    margin: 120px 0px;
    position: fixed;
    width: 1280px;
    height: 60px;
}
ul li{
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 10px 8px;
}
ul li a{
    padding: 10px 0px;
    text-align: center;
}
ul a:hover{
    background-color: plum;
}

ul li ul.dropdown{
    background-color: plum;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}
ul li:hover ul.dropdown{
    display: block;
}
/* Kode Css Side bar */
.column{
    float: left;
    padding: 0px 10px;
}
/* Left Column */
.column.side{
    margin: 170px 0px;
    width: 250px;
    height: 400px;
    background-color:fuchsia;
}
/* Middle bar */
.column.middle{
    margin: 170px 0px;
    width: 960px;
    height: 300px;
    background-color: fuchsia;
    margin-block-start: 180px;
}
/* footer */
.footer{
    width: 1280px;
    position: fixed;
    margin: 550px 0px;
}